@import '~antd/dist/antd.css';
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.site-layout .site-layout-background {
    /*background: #fff;*/
}

.site-layout .header-background {
    background: #fff;
}

.site-layout .section {
    background: #fff;
    padding: 24px;
}

.site-layout .section-background {
    background: #fff;
}


.login-form-wrapper {
    padding: 32px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}

.login-logo {
    height: 64px;
    margin: 16px;
    text-align: center;
    font-size: 20px;
}

.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}